@font-face {
    src: url(/fonts/UbuntuMonoRegular.woff2) format('woff2'),
    url(/fonts/UbuntuMonoRegular.woff) format('woff'),
    url(/fonts/UbuntuMonoRegular.ttf) format('truetype');
    font-family: 'UbuntuMono', sans-serif;
    font-weight: 400;
}